<% content_for :head do %>
	<%= javascript_include_tag "homepage.js" %>
  <%= javascript_include_tag "chosen.jquery.js" %>
  <%= javascript_include_tag "jquery.multiselect.js" %>
<% end %>


<!-- TAB BUTTONS -->
<ul class="nav nav-tabs" id="homepage-tabs">
  <li><a href="#tab_1" data-toggle="tab">Watch Videos</a></li>
  <li class="active" id="homepage-middle-tab"><a href="#tab_2" data-toggle="tab">Critique Videos</a></li>
  <li><a href="#tab_3" data-toggle="tab">Upload Videos</a></li>
</ul>

<!-- TAB CONTENT -->
<div class="tab-content homepage-tab-content">

		<!--LEFT TAB-->
  <div class="tab-pane" id="tab_1">
  	<div class="row-fluid">
  		<div class="span12 help-text">
  			<p id="help-text-1">Watch videos and read critiques to learn from others' mistakes.</p>
  		</div>
  	</div>
   	<div class="row-fluid">
  		<div class="span12">
   			<%= render 'layouts/watch' %>
  		</div>
  	</div>
  </div>
  
		<!--MIDDLE TAB-->
  <div class="tab-pane active" id="tab_2">
    <div class="row-fluid">
  		<div class="span12 help-text">
				<p id="help-text-2">Help others by analyzing their videos and giving your advice.</p>
  		</div>
  	</div>
   	<div class="row-fluid">
  		<div class="span12">
   			<%= render 'layouts/critique' %>
  		</div>
  	</div>  
  </div>
  
		<!--RIGHT TAB-->  
  <div class="tab-pane" id="tab_3">
   	<div class="row-fluid">
  		<div class="span12 help-text">
        <% if @user.nil?%>
  			 <p id="help-text-3">Login or Sign Up to begin uploading your own videos.</p>
        <% else %>
          <p id="help-text-3">View your uploaded videos or add new ones for others to critique.</p>
        <%end%>
  		</div>
  	</div>
   	<div class="row-fluid">
  		<div class="span12">
   			<%= render 'layouts/upload' unless @user.nil? %>
        <%= render 'layouts/upload2' if @user.nil? %>
  		</div>
  	</div>    
  </div>
  
  
</div>
