<a href="#upload-modal" role="button" class="btn btn-warning btn-large" data-toggle="modal">	
	Link New Video<i class="icon-plus icon-white"></i>
</a>

<%#= render 'filters/upload' %>
<h4>My Videos</h4>
<div id="upload-thumbnails"><%= render 'thumbnails/upload' %></div>


<div class="modal hide fade" id= "upload-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Link New Video</h3>
  </div>
		<%= form_for ([@user, @user.videos.build]) do |f| %>
			<div class="modal-body">
				<%= f.text_field :link, :placeholder => "What is the URL of the YouTube video?", :style => "width:400px", :required => true%>
				<br />	
				<%= f.text_area :description, :placeholder => "Enter a description for your video (250 character limit)", :style => "width:400px; height:125px"%>	
				<br />
				<%= f.select(:champ, [["-- Select Champion --", "None"]], {}, {:class => "filter-dropdown-1"})%>	
				<%= f.select(:position, [["-- Select Position --", "None"]], {}, {:class => "filter-dropdown-2"})%>	
				<%= f.select(:phase, [["-- Select Phase --", "None"]], {}, {:class => "filter-dropdown-3"})%>	
				<%= f.select(:focus, [], {}, {:class => "filter-dropdown-4", :multiple => 'multiple'})%>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<%= f.submit "Link", :class => "btn btn-warning" %>
			</div>
		<% end %>
</div>
